pom.xml
*jar
lib/
classes/
.lein-deps-sum
.cake
native/
.lein-failures
.DS_Store
target/
ldk/
.DS_store
.DS_Store
out/
repl/
.#*
war/
src/clocking/scratch.clj
src/clocking/scratchpad.clj
.nrepl-port
resources/public/js/cljs-debug.js
resources/public/js/cljs.js
