@light-blue: #79C3D2;
@lighter-blue: #ACF5F4;

body {
    background-color: @light-blue;
    font-family: "Georgia";
    font-size: 150%;
    color: #333;
}

input[type="text"] {
	background-color: @lighter-blue;
	height: 0.9em;
	line-height: 0.9em;
	font-size: 1em;
	font-family: "Helvetica";
	border: none;
	border-bottom: 1px black solid;
	padding: 5px;

	&.employee-id{
		width: 2em;

	}

}